@import url('https://fonts.googleapis.com/css2?family=Anton&family=Koulen&family=Lato:wght@300&family=Roboto+Slab&display=swap');

$primaryFont: 'Lato', sans-serif;
$importantTextFont: 'Roboto Slab', serif;
$titleFont: 'Koulen', cursive;

$bgcolor: #3b3b3b;
$primary: #42b3a2;
$secondary: #25796c;


*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: $primaryFont;
}

body
{
    background: $bgcolor;
}
.container{
    display: flex;
    flex-direction: column;
    //justify-content: center;
    //align-items: center;
    background: $bgcolor;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0px 0px 10px 0px;
    background-color: $primary;
    margin-bottom: 40px;
    &__logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;
        margin: 0px 30px;
    }
    &__title{
        display: block;
        text-align: center;
        font-size: 4em;
        font-family: $titleFont;
        height: 80px;
        min-width: 222px;
    }
    &__motto{
        text-align: center;
        font-size: 1em;
        height: 20px;

    }
    &__list
    {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin: 0px 20px 0px 0px;
        padding: 10px 0px 0px 0px;
    }
    &__listelement{
        font-family: $importantTextFont;
        text-align: center;
        list-style: none;
        padding: 15px 20px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        color: black;
        font-size: 1.2em;
        transition: 0.4s;
        &:hover
        {
            background-color: $bgcolor;
            color: white;
        }
    }
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    //justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 50px 0px 50px;
    gap: 80px;
}

.card{
    width: 365px;
    background: $secondary;
    padding: 0px 15px 15px 15px;
    border-radius: 30px;
    box-shadow: 0 0 0.3em $secondary;
    display: flex;
    flex-direction: column;
    //border: $primary 5px solid;

    &__closer{
        width: 20px;
        height: 20px;
        background: transparent;
        border: 0px;
        align-self: flex-end;
        border-radius: 10px;
        opacity: 0.7;
        transition: 0.4s;
        &:hover{
            opacity: 1;
        }
    }
    &__title{
        font-size: 25px;
        font-family: $importantTextFont;
        text-align: center;
        //border: #3b3b3b 3px solid;
        box-shadow: 0 0 0.8em $bgcolor;
        border-radius: 15px 15px 0px 0px;
        background-color: $primary;
        padding: 3px;
        resize: none;
        height: 35px;
    }
    &__description{
        margin-top: 2px;
        font-size: 13px;
        font-family: $importantTextFont;
        text-align: center;
        //border: #3b3b3b 3px solid;
        box-shadow: 0 0 0.6em $bgcolor;
        border-radius: 0px 0px 10px 10px;
        background-color: $primary;
        padding: 3px;
        resize: none;
        height: 23px;
    }
    &__list{
        margin-top: 5px;
        display: flex;
        flex-direction: column;
    }

    &__addTaskButton{
        margin-top: 15px;
        background: $secondary;
        text-align: start;
        padding: 3px 10px;
        border: 0px;
        border-radius: 10px;
        font-family: $primaryFont;
        order: 2;
        transition: 0.4s;
        &:hover{
            background-color: #42b3a2;
        }
    }
}

.task{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 3px 20px;
    margin-top: 15px;
    background-color: $primary;
    border-radius: 3px;
    box-shadow: 0 0 0.6em $bgcolor;
    order: 1;
    &__desc{
        font-family: $primaryFont;
        background-color: $primary;
        width: 80%;
        height: 19px;
        padding: 3px;
        border: 0px;
        resize: none;
    }
    &__checkbox{
        width: 25px;
        height: 25px;
        opacity: 0.6;
        background-color: $primary;
        border: 0px;
        transition: 0.4s;
        &:hover{
            opacity: 1;
            transform: scale(1.2);
        }
    }
}

.newCard{

    order: 2;
    &__button{
        width: 395px;
        padding: 15px;
        border-radius: 30px;
        opacity: 30%;
        background: $primary;
        border: 0px;
        transition: 0.6s;
        font-size: 20px;
        font-family: $importantTextFont;
        order: 10;
        &:hover{
            opacity: 80%;
        }
    }
}

//For info.html

.info{
    margin-top: 90px;
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    &__image{
        flex-basis: 100%;
        width: 900px;
    }
    &__textCont{
        display: flex;
        flex-direction: column;
    }
    &__title{
        font-size: 37px;
        color: white;
        font-family: $importantTextFont;
        letter-spacing: 1px;
        text-align: center;
        padding-bottom: 10px;
    }
    &__text{
        font-size: 21px;
        color: white;
        font-family: $primaryFont;
        padding: 10px;
    }

}
//For kontakt.html

.contact{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__title{
        font-size: 34px;
        font-family: $importantTextFont;
        color: white;
        padding: 15px;
    }
    &__form{
        width: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__textInput{
        flex-basis: 100%;
        padding: 3px;
        margin: 5px;
        height: 40px;
        border-radius: 10px;

        &--short{
            flex-basis: 45%;
        }
        
    }
    &__value{
        flex-basis: 100%;
        padding: 3px;
        margin: 5px;
        resize: none;
        height: 90px;
        border-radius: 10px;
    }
    &__submit{
        width: 70px;
        height: 30px;
        padding: 3px;
        margin: 5px;
        margin-left: auto;
        border-radius: 10px;
    }
}

.line
{
    background: $secondary;
    height: 50px;
    width: 2px;
    border-radius: 1px;
}

